#butwehavethepower {
	display: block;
	height: 50%;
	left: 25%;
	position: absolute;
	width: 50%;
}

#title{
	text-align: center;
	font-family: "Arial Black";
	color: yellow;
	background-color: lightblue;
}

#lyrics{
	display: block;
	text-align: center;
	left: 35%;
	font-size: 50px;
	font-family: "Bradley Hand ITC";
	top: 60%;
	position: absolute;
	background-color: black;
	color: white;
}